# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    .python
    .R
    .SQL

**Objectives:**

+ jupyter notebook
+ R
+ Github

Some of the commonly used libraries used by Data Scientists include:

    .numpy
    .seaborn
    .matplotlib
    .panda

|Data Science Tools|
|--------|
|Jupyter notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Arthor
Xinhang Shen